@import "simplelightbox/dist/simple-lightbox.min.css";

:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
  }

html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    /* display: inline; */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    background-color: #fff;
    color: #212121;
  }
  
  .gallery {
    display: grid;
    width: 1200px;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-auto-rows: 240px;
    grid-gap: 12px;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
  }

  .gallery-link{
    display: block;
    text-decoration: none;
    height: 100%;
  }
  
  .gallery-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-function);
  }

  .gallery-image:hover {
    transform: scale(1.03);
  }

  
  .feedback-form{
    width:408px;
    height: 296px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    gap: 16px;
    border-radius: 8px;
    background-color: grey;
  }

  .input-email{
    width: 360px;
    height: 40px;
    margin-top: 10px;
  }

  .textarea-message{
    width: 360px;
    height: 80px;
    margin-top: 10px;
  }

  .submit-button{
    width: 95px;
    height: 40px;
    margin-top: 15px;
    border-radius: 8px;
  }